body {
    background-color: #e0e5eb;
}

.neomorphism {
    border-radius: 6px;
    background: #e0e5eb;
    box-shadow:  8px 8px 16px #bcc0c5,
                 -8px -8px 16px #ffffff;
    padding: 1em;
}

.neomorphism-text span {
        font-size: 2.9em;
        text-align: justify;
        text-transform: uppercase;
        color: #e0e5eb;
        text-shadow: 
        -8px -8px 12px rgba(255,255,255,0.4),
        8px 8px 12px rgba(0,0,0,0.08);
        caret-color:#262626;
        outline: none;
        line-height: 100px;
        font-weight: bolder;

}
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    padding: 0;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);

}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

label {
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: lighter;
}

iframe {
    height: 90vh;
}

.form-control, .form-select {
    background-color: #fff6;
}